<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of Grocy Android.
  ~
  ~ Grocy Android is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Grocy Android is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Grocy Android. If not, see http://www.gnu.org/licenses/.
  ~
  ~ Copyright (c) 2020-2023 by Patrick Zedler and Dominic Zedler
  -->

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.NFC" />

  <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />

  <queries>
    <package android:name="org.torproject.android" />
  </queries>

  <application
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/Theme.Grocy"
    android:supportsRtl="true"
    android:enableOnBackInvokedCallback="false"
    android:hardwareAccelerated="true"
    android:localeConfig="@xml/locales_config"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_rules_full"
    android:dataExtractionRules="@xml/backup_rules_extract"
    android:networkSecurityConfig="@xml/network_security_configuration"
    tools:targetApi="33">

    <activity
      android:name=".activity.SplashActivity"
      android:windowSoftInputMode="adjustNothing"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity
      android:name=".activity.MainActivity"
      android:windowSoftInputMode="adjustNothing"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="grocy" />
      </intent-filter>

    </activity>

    <service
      android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
      android:enabled="false"
      android:exported="false">
      <meta-data
        android:name="autoStoreLocales"
        android:value="true" />
    </service>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="xyz.zedler.patrick.grocy.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

    <receiver
      android:name=".notification.DueSoonNotificationReceiver"
      android:enabled="true" />

    <receiver
      android:name=".notification.BootReceiver"
      android:enabled="false"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>