<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of Grocy Android.
  ~
  ~ Grocy Android is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Grocy Android is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Grocy Android. If not, see http://www.gnu.org/licenses/.
  ~
  ~ Copyright (c) 2020-2022 by Patrick Zedler and Dominic Zedler
  -->

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="xyz.zedler.patrick.grocy">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

  <queries>
    <package android:name="org.torproject.android"/>
    <package android:name="xyz.zedler.patrick.grocy.unlock"/>
  </queries>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Grocy"
    android:hardwareAccelerated="true"
    android:networkSecurityConfig="@xml/network_security_configuration"
    tools:ignore="UnusedAttribute">

    <activity
      android:name=".activity.SplashActivity"
      android:theme="@style/Theme.Grocy.Splash"
      android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity
      android:name=".activity.MainActivity"
      android:theme="@style/Theme.Grocy.BottomAppBar"
      android:windowSoftInputMode="adjustPan" />

    <service android:name=".model.NotificationService" />
    <receiver
      android:name=".model.RestarterBroadcastReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.REBOOT" />
        <action android:name="android.intent.action.SCREEN_ON" />
        <action android:name="android.intent.action.SCREEN_OFF" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
        <action android:name="android.intent.action.PACKAGE_REPLACED" />
        <action android:name="android.intent.action.PACKAGE_RESTARTED" />
        <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED" />
        <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
        <action android:name="android.intent.action.PACKAGE_REMOVED" />
        <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>